@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

body {
    font-family: "Poppins", sans-serif;
}

.webBG {
    background-color: #A88F5E;
}

.webText {
    color: #A88F5E;
}

.webBorderColor {
    border-color: #A88F5E;
}

@media (width >= 80rem) {

    .container {
        max-width: 85rem;
    }

}

.swiper .swiper-pagination-bullet-active {
    background: #333 !important;
}

.react-datepicker-wrapper {
    width: 100%;
}